<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <title>J.K Rowling</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="books.html">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reviews.html">Reviews</a>
            </li>
            
        </div>
      </div>
    </nav>
    <h1 class="page-header">Books</h1>
<div class="container-fluid" id="someApp">
      -- <table id="booksTable" class=" table table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Publisher</th>
            <th scope="col">Year Published</th>
            <th scope="col">Page Count</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for = "book in books">
            <th scope="row">{{ book.title }}</th>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.year_published }}</td>
            <td>{{ book.page_count }}</td>
            <td>{{ book.price }}</td>
          </tr>
        </tbody>
      </table>
      <form v-on:submit.prevent="postNewBook">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" v-model="booksForm.title"  class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" v-model="booksForm.author" class="form-control" id="author">
        </div>
        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="text" v-model="booksForm.publisher" class="form-control" id="publisher">
        </div>
        <div class="mb-3">
          <label for="year_published" class="form-label">Year Published</label>
          <input type="date" v-model="booksForm.year_published" class="form-control" id="year_published">
        </div>
        <div class="mb-3">
          <label for="page_count" class="form-label">Page Count</label>
          <input type="number" v-model="booksForm.page_count" class="form-control" id="page_count">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" v-model="booksForm.price" class="form-control" id="price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
          </form>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <script src="js/tablesort.min.js"></script>
    <script src="js/index.js"></script>
    <script>
     // Tablesort plugin fromhttp://tristen.ca/tablesort/demo/
       new Tablesort(document.getElementById('booksTable'));
     </script>
  </body>
</html>
